.container{
    background-color: #19244D;
    display: flex;
    max-width: 500px;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 5em;
    padding: 2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.home_input_class{
    width: 80px;
    height: 60px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: .5em;
    background-color: #080001;
    color: #F94F6D;
    font-size: 4rem;
    text-align: center;
    padding: .5em;
}
.btn{
    padding: 1em;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: bold;
    color: white;

}
.btn:hover{
    cursor: pointer;
    border: 1px solid black;
}
